.plase__paragraph {
  grid-area: text;
  font-size: 18px;
  line-height: 1.63;
  margin: 0;
  margin: 26px 0 0;
}

.plase__paragraph:nth-of-type(1) {
  margin-top: 0;
}

@media screen and (max-width: 1023px) {
  .plase__paragraph {
    margin-top:25px;
  }
}

@media screen and (max-width: 767px) {
  .plase__paragraph {
    margin-left: 16px;
    margin-right: 16px;
  }
}